$baseColor: #1890ff;

html,body {
    width: 100%;height: 100%;user-select:none;font-size: 12px;
}
* {
    box-sizing: border-box;margin: 0;padding: 0;
    outline: none;
}
*::-webkit-scrollbar {
    width: 10px!important;
    height: 10px!important;
    -webkit-appearance: none;
}
*::-webkit-scrollbar-thumb {
    height: 4px;
    border: 1px solid transparent;
    border-top: 0;
    border-bottom: 0;
    border-radius: 4px;
    background-color: #ccc;
    background-clip: padding-box;
}
img {
    -webkit-user-drag: none;
}
li{
    list-style: none;
}
.clearBoth {
    clear: both;
}
//左侧导航栏样式
.zll-Menu {
    .el-menu {
        background: none;
        border: none;
    }
    .el-menu--collapse {//缩小时候
        .el-submenu__title span,.el-submenu__title i:last-of-type{
            display: none;
        }
    }
    .el-submenu {
        background: #284358;
    }
    .el-submenu__title {
        font-size: 12px;background: none;
        height: 45px;
        line-height: 45px;
        color: #fff;
        opacity: .7;
        padding-left: 20px !important;
        font-size: 14px;
        .el-tooltip {
            padding-left: 20px !important;
        }
        i {
            color: #fff;
        }
        &:hover {
            opacity: 1;
            transition: all .3s;
            background: #365b77;
        }
    }
    .el-menu-item-group {
        .el-menu-item {
            background: none;
            padding-left: 50px !important;
            font-size: 12px;
            &:hover {
                opacity: 1;
                transition: all .3s;
                background: #365b77;
            }
        }
    }
    .el-menu-item {
        font-size: 12px;background: none;
        height: 45px;
        line-height: 45px;
        color: #fff;
        opacity: .7;
        padding-left: 20px !important;
        font-size: 14px;
        i {
            color: #fff
        }
        &:hover {
            // background: #297e8d;
            opacity: 1;
            transition: all .3s;
        }
        &:active {
            background: none ;
            opacity: 1;
        }
        .el-tooltip {
            padding-left: 20px !important;
        }
    }
    .el-menu-item.is-active {
        color: #fff;
        background: #1374c0;
        opacity: 1;
        i {
            filter: drop-shadow(#00C 0px 0);
          }
    }
    .color1.el-menu {
        .el-menu-item.is-active {
            color: #fff;
            background: rgba(52, 191, 198, 0.5);
        }
    }
    .color2.el-menu {
        .el-menu-item.is-active {
            color: #fff;
            background: #1374c0;
        }
    }
    .color3.el-menu {
        .el-menu-item.is-active {
            color: #fff;
            background: #2fa7e0;
        }
    }
    .color4.el-menu {
        .el-menu-item.is-active {
            color: #fff;
            background: #009688;
        }
    }
    .color5.el-menu {
        .el-menu-item.is-active {
            color: #fff;
            background: #e6a23c;
        }
    }
    .color6.el-menu {
        .el-menu-item.is-active {
            color: #fff;
            background: #f56c6c;
        }
    }
}
.el-menu-item-group__title {
    padding: 0 !important;
}
.Menu-item .el-menu-item {
    font-size: 14px;
    &:hover {
        // background: #297e8d;
        color: #fff !important;
    }
    &.is-active {
        color: #fff !important;
        background: #297e8d;
    }
}
.el-menu-item, .el-submenu__title {
    height: 45px;
    line-height: 45px;
}
//input样式
.login_input {
    .el-form-item {
        margin-bottom: 15px;
    }
    .el-input__inner {
        height: 40px !important;
        line-height: 40px !important;
        font-size: 14px !important;
        background: #a57579;
        border-color: #ffffff;
        color: #ffffff;
    }
    .el-input__prefix, .el-input__suffix, .el-input__clear {
        color: #ffffff;
    }
    input::-webkit-input-placeholder {
        color: #ffffff;
    }
}
.Login .el-checkbox__label {
    color: #ffffff;
}
.el-input__inner {
    height: 26px !important;
    line-height: 26px !important;
    font-size: 12px !important;
}
.iscolor {
    .el-input__inner {
        color: #f44336 !important;
    }
}
.tableList table {
    td .el-input__inner {
        background-color: #f2f2f2 !important; 
        border-color: #f2f2f2 !important; 
    }
}
.AddAccess .tableList table {
    td .el-input__inner {
        background-color: #ffffff !important; 
        border-color: #ffffff !important; 
    }
}
.mainTable {
    .el-select {
        width: 100%;
    }
    td .el-input__inner {
        background-color: #fff !important; 
        border-color: #fff !important; 
        text-align: center;
    }
}
.el-checkbox__label {
    font-size: 12px;
}
.el-range-editor .el-range-input {
    font-size: 12px;
}
.el-select-dropdown__item,.el-cascader-panel,.el-cascader {
    font-size: 12px;
}
.zll-cascader {
    line-height: 26px;
}
.el-message-box__title {
    font-size: 16px;
}
.el-input__icon {
    line-height: 26px !important;
}
.el-date-editor .el-range__icon {
    line-height: 20px !important;
}
.el-date-editor .el-range__close-icon {
    line-height: 20px !important;
}
.el-date-editor .el-range-separator {
    line-height: 15px !important;
}
.el-textarea__inner {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.el-radio__label {
    font-size: 12px;
}
.el-radio__input.is-checked .el-radio__inner {
    border-color: $baseColor;
    background: $baseColor;
}
.el-radio__input.is-checked+.el-radio__label {
    color: $baseColor;
}
//分页样式
.zll-pagination {
    border: 1px solid #EBEEF5;
    border-top: 0px;
    padding: 5px;
    .el-pagination {
        font-weight: 400;
        text-align: right;
    }
    .el-pagination__total,.el-pagination button, .el-pagination span:not([class*=suffix]) {
        font-size: 12px;
    }
    .el-pagination__sizes .el-input .el-input__inner {
        font-size: 12px;
    }
}
//表单样式
.zll-form{
    margin-bottom: 20px;
    .el-form-item__label {
        width: 72px;
        height: 32px;
        line-height: 32px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 0;
        font-size: 12px;
    }
    .el-form-item__content {
        line-height: 32px;
        width: calc(100% - 72px);
        float: left;
    }
    .el-form-item__error {
        left: 15px;
        padding-top: 0;
    }
    .el-form-item {
        margin-bottom: 0;
    }
    .table_middle,.table_top {
        .el-form-item__label {
            width: 80px
        }
        .el-form-item__content {
            width: calc(100% - 80px);
        }
        .el-date-editor,.input_right,.el-select {
            width: 100% !important;
        }
    }
    .budget_input {
        width: calc(100% - 60px) !important;
    }
    &.mineWork {
        .el-form-item__label {
            width: 70px;
        }
        .el-form-item__content {
            width: calc(100% - 70px);
        }
    }
} 
.shidu {
    .el-form-item__content {
        width: calc(100% - 42px);
        float: right;
    }
}
.Stability {
    .zll-form .el-form-item {
        margin-bottom: 10px !important;
    }
}
//table样式
.QualityReview {
    .zll-table {
        .el-table th.is-leaf {
            background: #34bfc6 !important;
        }
    }
}
.zll-table {
    .el-table {
        font-size: 12px;
    }
    .el-table th.is-leaf {
        color: #ffffff;
        background: #a6a6a6 !important;
    }
    .el-table td, .el-table th {
        padding: 2px 0;
        text-align: center;
        font-weight: 400;
        height: 26px;
        line-height: 26px;
        background: #F2F2F2;
        border-color: #ffffff;
    }
    .el-table .caret-wrapper {
        height: 28px;
    }
    .el-table .sort-caret.ascending {
        top: 2px;
    }
    .el-table .sort-caret.descending {
        bottom: 4px;
    }
}
//弹框样式
.zll-dialog {
    .el-dialog__footer {
        text-align: center;
    }
    .el-dialog__header {
        padding: 10px 20px;
        color: #ffffff;
        background: #284358;
        font-size: 12px;
    }
    .el-dialog__body {
        padding-top: 10px;
        font-size: 12px;
        .tableList {
            margin-top: 20px;
            position: relative;
            table {
                width: 100%;
                border-collapse: collapse;
                border:1px solid #ffffff;
                text-align: center;
                th {
                    background: #a6a6a6;
                    color: #ffffff;
                    padding: 3px;
                    font-weight: normal;
                    height: 26px;
                    line-height: 26px;
                }
                td {
                    padding: 3px;
                    height: 26px;
                    line-height: 26px;
                    overflow: hidden;
                    text-overflow:ellipsis;
                    white-space: nowrap;
                }
                tr {
                    background: #F2F2F2;
                }
            }
        }
    }
    .el-dialog__title {
        color: #ffffff;
        font-size: 12px;
    }
    .el-dialog__headerbtn .el-dialog__close {
        color: #ffffff;
    }
    .el-dialog__headerbtn {
        top: 15px;
    }
    .el-button--primary {
        background-color: $baseColor;
        border-color: $baseColor;
        padding: 7px 25px;
        color: #fff;
        border-radius: 25px;
        font-size: 12px;
    }
    .el-button--primary:focus, .el-button--primary:hover {
        opacity: .7;
        transition: all .3s;
    }
    .el-date-editor {
        width: 100% !important;
    }
}
.el-button--text.isdisabled {
    color: #cccccc;
    cursor: no-drop;
}
.el-button.windup:hover{
    background-color: #F56C6C;
    color: #fff;
}
.el-button.bill:hover{
    background-color: #df7f5c;
    color: #fff;
}
.el-switch .el-switch__label * {
    font-size: 12px;
}
.zll-botton {
    background-color: $baseColor;
    padding: 7px 25px;
    color: #fff;
    border-radius: 25px;
    // width: 70px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    &:hover {
        transition: all .3s;
        opacity: .8;
    }
    &.reject {
        background-color: #fd6b6b;
    }
    &.Info {
        background-color: #909399;
    }
    &.instorage {
        background-color: #fd6b6b;
        padding: 0;
        width: 60px;
    }
    &.goback {
        background-color: #34bfc6;
    }
    &.void {
        background-color: #feba8b;
    }
    &.save {
        background-color: #284358;
    }
    &.allin {
        background-color: #284358;
        width: 80px;
    }
}
.powerTable {
    .el-table__header-wrapper {
        display: none;
    }
    .el-checkbox__label {
        font-size: 12px;
        width: 40px;
        text-align: left;
    }
    .el-checkbox-group {
        float: left;margin-right: 15px;
    }
}

.Account_cascader {
    position: relative;
    .el-input  {
        top: -6px;
        position: absolute;
    }
}
.BudgetManage, .BankDeposit {
    .mouth_search {
        margin: 20px 0;
        span {
            background: #f2f2f2;
            padding: 7px 10px;
            margin-right: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .active {
            color: #ffffff;
            background: #3f9dd3;
        }
    }
    .lunarCore {
        margin-top: 30px;
        padding: 20px 20px;    
        box-shadow: 0 0 10px #ccc;
        font-size: 14px;
        .core_left {
            width: 80px;
            text-align: center;
            border-right: 1px solid #dddddd;
            float: left;
            p {
                height: 28px;
                line-height: 28px;
            }
            .year {
                color: #3f9dd3;
            }
            .mouth {
                font-size: 18px;
                color: #3f9dd3;
            }
        }
        .core_right {
            width: calc(100% - 80px);
            float: left;
            .list {
                width: 20%;
                float: left;
                padding: 0 20px;
                p {
                    height: 28px;
                    line-height: 28px;
                    .name {
                        text-align: left;
                        width: 100px;
                        display: inline-block;
                    }
                    .num {
                        text-align: right;
                        width: calc(100% - 100px);
                        display: inline-block;
                    }
                }
            }
        }
    }
}
.tree {
    .el-tree-node__content {
        height: 45px;
    }
}
.mytree /deep/ {
    border-left: 1px solid #bebfbe;
    padding-top: 40px;
    .el-tree-node__expand-icon{
        font-size: 16px;
    }
    .el-tree > .el-tree-node:after {
        border-top: none;
    }
    .el-tree-node {
        position: relative;
        padding-left: 16px;
    }
    //节点有间隙，隐藏掉展开按钮就好了,如果觉得空隙没事可以删掉
    .el-tree-node__expand-icon.is-leaf {
        display: none;
    }
    .el-tree-node__children {
        padding-left: 16px;
    }
    .el-tree-node :last-child:before {
        height: 38px;
    }
    .el-tree > .el-tree-node:before {
        content: '●';
        color: #bebfbe;
        left: -4px;
        top: 15px;
        border-left: none;
    }
    .el-tree > .el-tree-node:after {
        border-top: 1px solid #bebfbe;
    }
    .el-tree-node:before {
        content: '';
        left: 0px;
        padding-bottom: 10px;
        position: absolute;
        right: auto;
        border-width: 1px;
    }
    .el-tree-node:after {
        content: '';
        left: 0px;
        color: #bebfbe;
        position: absolute;
        right: auto;
        border-width: 1px;
    }
    .el-tree-node:before {
        border-left: 1px solid #bebfbe;
        bottom: 0px;
        height: 100%;
        top: -26px;
        width: 1px;
    }
    .el-tree-node:after {
        border-top: 1px solid #bebfbe;
        height: 10px;
        line-height: 1px;
        top: 22px;
        width: 24px;
    }
}
.jianxiang {
    width: calc(100% - 72px) !important;
    float: right !important;
    .el-checkbox {
        width: 100%;
        margin-right: 0 !important;
        .label {
            width: 120px;
            display: inline-block;
        }
    }
}
.kaocha {
    .el-checkbox-group {
        width: calc(100% - 72px) !important;
        float: right !important;
    }
    .el-checkbox {
        height: 35px;
        line-height: 35px;
    }
}
.table_tag {
    &.el-tag {
        height: 25px;
        line-height: 25px;
    }
}
.Audit {
    .el-tabs__item {
        width: 150px;
        text-align: center;
    }
    .el-tabs__item.is-active {
        color: #e82626;
    }
    .el-tabs__active-bar {
        background-color: #e82626;
    }
    .el-tabs__item:hover {
        color: #e82626;
    }
}
.mce-branding.mce-widget.mce-label.mce-flow-layout-item.mce-last {
    display: none,
}
.mce-panel {
    border-color: #DCDFE6 !important;
    border-radius: 4px;
}
.mce-tinymce {
    box-shadow: none !important;
}
.mce-edit-area.mce-container.mce-panel.mce-stack-layout-item {
    border: none !important;
}
iframe {
    height: 200px !important;
}