$baseColor: #34BFC6;

.Search_Top_Input {
    border-bottom: 0;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .search_list {
        width: calc(100% - 200px);
        .input_flex {
            margin-bottom: 10px;
            margin-right: 10px;
            width: 200px;
            float: left;
            &.search {
                width: 120px !important;
            }
        }
        .search_left {
            float: left;
            width: 72px;
            height: 26px;
            line-height: 26px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .el-input,.el-select,.el-cascader {
            // width: calc(100% - 72px);
            width: 100%;
            float: right;
        }
        .el-button.is-circle {
            padding: 10px;
        }
        .search_img {
            width: 20px;
            margin-top: 6px;
            margin-left: 10px;
            cursor: pointer;
            opacity: .9;
            &:hover {
                opacity: .7;
                transition: all .3s;
            }&:focus {
                opacity: 1;
                transition: all .3s;
            }
        }
    }
  .deleteDept{
    width: 100px;
    float: right;
    text-align: right;
    height: 26px;
    line-height: 26px;
    cursor: pointer;
    .delete {
      background: #FF5722;
    }
  }

    .addNew {
        text-align: right;
        height: 26px;
        line-height: 26px;
        cursor: pointer;
        span {
            background: #1890ff;
            color: #ffffff;
            border-radius: 14px;
            text-align: center;
            display: inline-block;
            padding: 0 10px;
            margin-right: 5px;
            &:hover {
                opacity: .8;
                transition: all .3s;
            }
        }
        .goBack {
            background: #fd6b6b;
        }
        .delete {
            background: #FF5722;
        }
        .edit {
            background: #67C23A;
        }
    }
    .table_bt {
        .bts {
            width: 26px;
            height: 26px;
            border: 1px solid #ccc;
            float: left;
            margin-left: 10px;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #666;
            cursor: pointer;
            &:hover {
                color: #fff;
                border-color: #34bfc6;
                transition: all .3s;
                background-color: #34bfc6;
            }
        }
    }

    .el-range-editor.el-input__inner {
        width: 100%;
    }
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        font-size: 12px;
    }
    .zll-search {
        background: $baseColor;
        border: 1px solid $baseColor;
        color: #ffffff;
        border-radius: 4px;
        text-align: center;
        display: inline-block;
        height: 26px;
        line-height: 26px;
        padding: 0 10px;
        cursor: pointer;
        &:hover {
            transition: all .3s;
            opacity: .8;
        }
        margin-left: 20px;
    }
    .zll-search-reset {
        border: 1px solid #ccc;
        color: #aaaaaa;
        border-radius: 5px;
        text-align: center;
        display: inline-block;
        height: 26px;
        line-height: 26px;
        padding: 0 10px;
        cursor: pointer;
        &:hover {
            transition: all .3s;
            opacity: .8;
        }
    }
    &.isLeft {
        .search_list {
            .input_flex {
                width: calc(25% - 10px);
            }
            .el-input,.el-select,.el-cascader {
                width: calc(100% - 72px);
                float: right;
            }
        }
    }
}

.Search_Top_Part {
    position: relative;
    border: 1px solid #e6e6e6;
    padding: 15px 15px 5px 15px;
    display: flex;
    flex-direction: row;
    .search_list {
        width: 100%;
        overflow: hidden;
        .input_flex {
            margin-bottom: 10px;
            margin-right: 20px;
            width: 160px;
            float: left;
            &.search {
                width: 120px !important;
            }
            &.daterange {
                width: 340px;
            }
        }
        .search_left {
            float: left;
            width: 72px;
            height: 26px;
            line-height: 26px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .el-input,.el-select,.el-cascader {
            // width: calc(100% - 72px);
            width: 100%;
            float: right;
            line-height: 26px;
        }
        .el-button.is-circle {
            padding: 10px;
        }
        .search_img {
            width: 20px;
            margin-top: 6px;
            margin-left: 10px;
            cursor: pointer;
            opacity: .9;
            &:hover {
                opacity: .7;
                transition: all .3s;
            }&:focus {
                opacity: 1;
                transition: all .3s;
            }
        }
        
        .el-range-editor.el-input__inner {
            width: 100%;
        }
        ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            font-size: 12px;
        }
    }
    .search_bt {
        display: flex;
        .zll-search {
            background: $baseColor;
            border: 1px solid $baseColor;
            color: #ffffff;
            border-radius: 4px;
            text-align: center;
            display: inline-block;
            height: 26px;
            line-height: 26px;
            width: 60px;
            cursor: pointer;
            &:hover {
                transition: all .3s;
                opacity: .8;
            }
            margin-right: 20px;
        }
        .zll-search-reset {
            border: 1px solid #ccc;
            color: #aaaaaa;
            border-radius: 5px;
            text-align: center;
            display: inline-block;
            height: 26px;
            line-height: 26px;
            width: 60px;
            cursor: pointer;
            &:hover {
                transition: all .3s;
                opacity: .8;
            }
        }
    }
    .more {
        position: absolute;
        width: 150px;
        height: 22px;
        line-height: 22px;
        text-align: center;
        background: #f2f2f2;
        bottom: -22px;
        left: calc(50% - 75px);
        color: #9b9b9b;
        cursor: pointer;
        .triangle-bottomleft {
            position: absolute;
            top: 0;
            width: 0;
            height: 0;
            border-bottom: 22px solid #ffffff;
            border-right: 22px solid transparent;
        }
        .triangle-bottomright {
            position: absolute;
            right: 0;
            top: 0;
            width: 0;
            height: 0;
            border-bottom: 22px solid #ffffff;
            border-left: 22px solid transparent;
        }
    }
}
