@font-face {
  font-family: "iconfont"; /* Project id 3171826 */
  src: url('iconfont.woff2?t=1644304036851') format('woff2'),
       url('iconfont.woff?t=1644304036851') format('woff'),
       url('iconfont.ttf?t=1644304036851') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wangqihuigu:before {
  content: "\e6fe";
}

.icon-jihua:before {
  content: "\e603";
}

.icon-shenpijiancha:before {
  content: "\e62d";
}

.icon-zuixing_huaban1:before {
  content: "\e638";
}

.icon-tongji:before {
  content: "\e69f";
}

.icon-icon-test:before {
  content: "\e8a2";
}

.icon-jia4:before {
  content: "\e633";
}

.icon-kuaijierukou:before {
  content: "\e625";
}

.icon-xitongguanli:before {
  content: "\e60b";
}

.icon-jianceyangpin:before {
  content: "\e608";
}

.icon-shezhi:before {
  content: "\e604";
}

.icon-yonghu-yuan:before {
  content: "\e623";
}

.icon-shouye:before {
  content: "\e602";
}

.icon-jinpaigongyings:before {
  content: "\e656";
}

.icon-tianjiazitu:before {
  content: "\e83a";
}

.icon-gongyingshangguanli:before {
  content: "\e611";
}

.icon-shenpi:before {
  content: "\e6ff";
}

.icon-kaochamendian:before {
  content: "\e609";
}

.icon-audit:before {
  content: "\e621";
}

.icon-biaozhunicon-:before {
  content: "\e61a";
}

.icon-kaochafenxi:before {
  content: "\e61b";
}

.icon-shenji:before {
  content: "\e612";
}

.icon-tianjiaxindefenqu:before {
  content: "\e627";
}

.icon-shejibiangeng:before {
  content: "\e653";
}

.icon-biangengguanli:before {
  content: "\e654";
}

.icon-shenjizuoyeguanli:before {
  content: "\e63f";
}

