$baseColor: #1890ff;

.AddAccess {
    .nav {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 500px;
        .add {
            background: #34bfc6;
            color: #ffffff;
            padding: 15px 30px;
            border-radius: 15px;
            font-size: 24px;
            cursor: pointer;
            &:hover {
                opacity: .8;
                transition: all .3s;
            }
            img {
                width: 30px;
                float: left;
                margin-right: 10px;
            }
        }
    }
    .page {
        h1 {
            text-align: center;
            font-weight: normal;
            margin: 10px 0 30px;
            position: relative;
            color: #34bfc6;
            span {
                color: #e00e0e;
            }
            .top {
                width: 340px;
                font-size: 12px;
                position: absolute;
                right: 0;
                top: 0;
                .zll-botton {
                    width: 100px;
                    float: left;
                    &.save {
                        margin: 0 20px;
                    }
                }
                &.top2 {
                    width: 100px;
                }
            }
        }
        table {
            empty-cells:show;
            border-collapse: collapse;
            margin:0 auto;
            width: 100%;
            border:1px solid #DCDFE6;
        }
        .mainTable {
            th {
                background-repeat:repeat-x;
            }
            td {
                height:30px;
                line-height: 30px;
                text-align: center;
                font-weight: 400;
                overflow:hidden;
                text-overflow:ellipsis;
                white-space:nowrap;
                border-right: 0;
                border-bottom: 0;
            }
            tr.alter{
                background-color:#f5fafe;
            }
            .column {
                background: #deebf7;
                width: 80px;
                &.index {
                    width: 40px;
                }
                &.name {
                    width: 120px
                }
            }
            .upLoad {
                color: #e00e0e;
                cursor: pointer;
            }
            .file {
                opacity: 0;
                position: absolute;
                left: 0;
                width: 100px;
                height: 30px;
            }
        }
        .add-table {
            margin: 20px 0;
            .mine-add {
                float: right;
                margin-bottom: 10px;
                position: relative;
                z-index: 1111;
                span {
                    font-size: 22px;
                    margin-left: 10px;
                    color: $baseColor;
                    cursor: pointer;
                    &:hover{
                        transition: all .3s;
                        opacity: .7;
                    }
                }
                &.ss {
                    float: none;
                    margin-top: 5px;
                }
            }
            .tableList {
                margin-top: 20px;
                position: relative;
                table {
                    width: 100%;
                    border-collapse: collapse;
                    border:1px solid #DCDFE6;
                    text-align: center;
                    th {
                        background: #deebf7;
                        font-weight: normal;
                        height: 30px;
                        line-height: 30px;
                    }
                    td {
                        height: 30px;
                        line-height: 30px;
                        overflow: hidden;
                        text-overflow:ellipsis;
                        white-space: nowrap;
                    }
                    .el-date-editor {
                        width: 100%
                    }
                    .checkStyle {
                        i {
                            font-size: 14px;
                            vertical-align: middle;
                            cursor: pointer;
                            &.el-icon-success {
                                color: #409eff;
                            }
                            &.no-check {
                                display: inline-block;
                                width: 14px;
                                height: 14px;
                                border: 1px solid #cccccc;
                                background: #fff;
                            }
                            &.el-icon-check {
                                color: #ffffff;
                                background-color: #409eff;
                                font-size: 14px;
                                border: 1px solid #DCDFE6;
                            }
                        }
                    }
                }
            }
            .nav_scene {
                color: #e00e0e;
                position: relative;
                font-size: 18px;
                padding-left: 20px;
                margin-bottom: 15px;
                text-align: center;
                height: 50px;
                line-height: 50px;
                position: relative;
                .circle {
                    width: 10px;
                    height: 10px;
                    background: #e00e0e;
                    border-radius: 5px;
                    position: absolute;
                    left: 0;
                    top: 20px;
                }
                .circle2 {
                    width: 10px;
                    height: 10px;
                    background: #e00e0e;
                    border-radius: 5px;
                    position: absolute;
                    right: 0;
                    top: 20px;
                }
                &::before {
                    content: ' ';
                    width: calc(50% - 50px);
                    height: 1px;
                    background: #e00e0e;
                    position: absolute;
                    left: 0;
                    top: 25px;
                }
                &::after {
                    content: ' ';
                    width: calc(50% - 65px);
                    height: 1px;
                    background: #e00e0e;
                    position: absolute;
                    right: 0;
                    top: 25px;
                }
                &.is {
                    color: #1890ff;
                    .circle {
                        background: #1890ff;
                    }
                    .circle2 {
                        background: #1890ff;
                    }
                    &::before {
                        background: #1890ff;
                    }
                    &::after {
                        background: #1890ff;
                    }
                }
            }
            .nav_body {
                padding-bottom: 30px;
                .tab {
                    width: 30px;
                    height: 150px;
                    float: left;
                    background: #deebf7;
                    font-size: 16px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .tab2 {
                    background: #1890ff;
                    color: #fff;
                    height: 300px;
                }
            }
            .nav_list {
                float: left;
                width: 35%;
                padding-right: 50px;
                .input_flex {
                    width: 100%;
                    margin-bottom: 15px;
                    .search_left {
                        width: 80px;
                        float: left;
                        text-align: center;
                        height: 26px;
                        line-height: 26px;
                    }
                    .search_right {
                        float: right;
                        width: calc(100% - 80px) 
                    }
                    &.all {
                        width: 100%;
                    }
                }
                &.left {
                    width: calc(65% - 100px);
                }
                &.is {
                    .tableList {
                        margin-top: 0;
                        .dept {
                            width: 80px;
                            background-color: #deebf7;
                        }
                        td {
                            padding: 0 10px;
                        }
                        .name {
                            float: left;
                        }
                        .user {
                            float: right;
                            color: #34bfc6;
                            height: 30px;
                            line-height: 30px;
                            font-size: 14px;
                            cursor: pointer;
                        }
                    }
                    &.table {
                        width: calc(65% - 130px);
                    }
                }
                &.shenji {
                    width: calc(100% - 30px) !important;
                    padding-left: 20px;
                    padding-right: 0;
                    .search_left {
                        width: 100px;
                    }
                }
            }
            .submit-plan {
                width: 100px;
                float: right;
            }
        }
        .bottom {
            width: 400px;
            margin: 60px auto 0;
            .zll-botton {
                width: 100px;
                float: left;
                &.save {
                    margin: 0 50px;
                }
            }
            &.one {
                width: 100px;
            }
        }
    }
}